.minavbar{
    background-color: red;
    color:Red;
}

h4{
    display: block;
    float: left;;
}  
p {
    display: block;
    align-content: left;;
}
body {
    background-color: rgb(72, 162, 179);
}

.navbar{
    background-color: rgb(245, 249, 250) !important;
  }