.minavbar{
    background-color: red;
    color:Red;
}

h4{
    display: block;
    float: left;;
}  
p {
    display: block;
    align-content: left;;
}
body {
    background-color: rgb(72, 162, 179);
}

.navbar{
    background-color: rgb(245, 249, 250) !important;
  }
  .card {
    width: 300px;
    height: 200px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
  }

  .card h2 {
    font-size: 18px;
    margin-top: 0;
  }

  .card p {
    margin-top: 10px;
  }