.minavbar{
    background-color: red;
    color:Red;
}

h4{
    display: block;
    float: left;
    width: 50%;
}  
p {
    display: block;
    align-content: left;
    width: 60%;
}
body {
    background-color: rgb(72, 162, 179);
}