* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(72, 162, 179);
}




label{
    color: white;
}

.user-image{
    max-width: 100%;
}


.as{
    width: 30%;
    margin-right: 40px;
}