
/* cambiaron cosas */
body{
    background-color: rgb(72, 162, 179);
    margin: 0;
}

.mine{
    text-align: center;
}

.precio{
    font-size: 20;
    color: white;
}

span{
    font-size: 24px;
}

.imgsize{
    max-height: 350px;
    min-height: 200px;
}

.ps{
    font-size: 20px;
}

.conte-ropa{
    display: flex;
    justify-content: space-around;
}