.minavbar{
    background-color: red;
    color:Red;
}
.ab{
    border: 1px solid rgba(20,20,20,0.4);
    background-color: rgba(255,255,255,0.7);
}

.logo{
    width: 150px;
}



.menu-superior{
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

a, a:visited {
    text-decoration: none;
}


.producto{
    width: 100%;
}

body {
    background-color: rgb(72, 162, 179);
}