.minavbar{
    background-color: red;
    color:Red;
}
.ab{
    border: 1px solid rgba(20,20,20,0.4);
    background-color: rgba(255,255,255,0.5);
}

.logo{
    width: 150px;
}

.menu-superior{
    text-align: right;
}

.menu-superior li {
    display: inline;
    margin-right: 20px;
}

a, a:visited {
    text-decoration: none;
}


.producto{
    width: 100%;
}

body {
    background-color: #f2f2f2;
}
.cart-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #040404;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .cart-btn:hover {
    background-color: #0a0a0a;
  }
  
.ass{
    font-size: 15px;
}